
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-style">
            <div class="container">
                <div class="navbar-header">
                    <button role="button" class="navbar-toggle" data-toggle="collapse" data-target="#navcon">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html"><img class="logo" src="images/K3-1.png"></a>
                </div>
                <div class="navbar-collapse collapse" id="navcon">
                    <ul class="nav navbar-nav">
                        <li><a href="">Home</a></li>
                        <li><a href="#goals">Goals</a></li>
                        <li><a href="#about">about us</a></li>
                        <li><a href="contactus.html">Contact</a></li>
                    </ul>
                    <div class="nav navbar-nav navbar-right">
                        <li><a href="login.html">log in</a></li>
                        <span class="sign"><button type="button" class="btn btn-primary"
                            onclick="document.location= 'signup.html'">Sign Up</button>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="line-1 anim-typewriter message">Are You A ?</p>
            </div>
        </div>
        <div class="section-third" >
        <div class="section-third-task">
            <div class="task-1">
              <a href="student.html">
    
                <img src="images/sectionIcon1.svg" alt="icon1" />
              </a>
              <h3>Student</h3>
             
            </div>
    
            <div class="task-2">
              <a href="development.html">
              <img src="images/Business man 01.jpg" alt="icon1" />
              </a>
              <h3>Working Professional</h3>
             
            </div>
    
            <div class="task-3">
              <a href="development.html">
              <img src="images/Jobs 04.jpg" alt="icon1" />
              </a>
              <h3>Recruiter</h3>
              
            </div>
          </div>
        </div>
    </div>
    <div class="container aboutus" id="about">
        <div class="row">
            <div class="col-sm-6 banner-info">
                <h1 class="h">About K3Buddy</h1>
                <hr>
                <p class="Big-text">It's a platform that enables you to get your desired goal with the help of K3 community. Your K3 buddy is a team led by non IIT, IIM alumni with the objective to create awareness for self clarity and guidance in young Indians and also providing every Indian citizen a place to plan their professional career ahead. </p>
                <a class="btn btn-first" href="working.html">Get Started</a>
            </div>
            <div class="col-sm-6 banner-img">
                <img src="images/23.png" alt="Mentoring" class="img-responsive">
            </div>
        </div>
    </div>
    <hr>
    <hr>
    <section class="color">
      <div class="container job">
        <div class="row">
            <div class="col-sm-6 banner-img">
              <img src="images/img-PVUE-About-Careers-GroupProfessionals-800x427.png" alt="" class="img-responsive">
            </div>
            <div class="col-sm-6 banner-info">
              <h1 class="h">Jobs</h1>
              <hr>
              <p class="job-text">Boost your career with our K3Buddy filtered joblist, where you get job filtration, mentor connect, one way career guidence and interview prepration from professional mentors.</p>
              <a class="btn btn-first" asp-controller='home' asp-action='working'>Get Started</a>
              </div>
        </div>
      </div>
    </section>
    <footer >   
      <section class="info_section layout_padding2-bottom layout_padding-top">
        <div class="container-fluid info_content">
    
          <div>
            <div class="row">
              <div class="col-md-3 about_links">
                <div class="d-flex">
                  <h5>
                    Careers
                  </h5>
                </div>
                <div class="d-flex ">
                  <ul>
                    <li>
                      <a href="">
                        Be A Mentor
                      </a>
                    </li>
                    <li>
                      <a href="">
                        Intern With Us!
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 about_links">
                <div class="d-flex">
                  <h5>
                    Blogs
                  </h5>
                </div>
                <div class="d-flex ">
                  <ul>
                    <li>
                      <a href="">
                        Why Us?
                      </a>
                    </li>
                    <li>
                      <a href="">
                        More
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 about_links">
                <div class="d-flex">
                  <h5>
                    Offerings
                  </h5>
                </div>
                <div class="d-flex ">
                  <ul>
                    <li>
                      <a href="">
                        Free Profile Evaluation
                      </a>
                    </li>
                    <li>
                      <a href="">
                        Connect With Mentors
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 about_links">
                <div class="d-flex">
                  <h5>
                    Get In Touch
                  </h5>
                </div>
                <div class="d-flex ">
                  <ul>
                    <li>
                      <a href="">
                        Contact
                      </a>
                    </li>
                    <li>
                      <a href="">
                        We’ll love to help you
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </section>
        
        <div>
            <hr>
          <h4 style="color: grey; text-align: center;">All copyrights @@K3buddy&copy;</h4>
        </div>
      </div>
    </footer>

</body>