@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<body>
    <header class="header">
        <nav class="navbar navbar-style">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navcon">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html"><img class="logo" src="images/K3-1.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="navcon">
                    <ul class="nav navbar-nav">
                        <li><a href="">Home</a></li>
                        <li><a href="#goals">Goals</a></li>
                        <li><a href="#about">about us</a></li>
                        <li><a href="contactus.html">Contact</a></li>
                    </ul>
                    <div class="nav navbar-nav navbar-right">
                        <li><a href="login.html">log in</a></li>
                        <span class="sign"><button type="button" class="btn btn-primary"
                            onclick="document.location= 'signup.html'">Sign Up</button>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="message" id="goals">Are You A ?</p>
            </div>
        </div>
        <div class="row">
        <div class="section-third" >
        <div class="section-third-task">
          <div class="col-12">
            <div class="task-1">
              <a href="development.html">
    
                <img src="images/sectionIcon1.svg" alt="icon1" />
              </a>
              <h3>Higher Studies</h3>
             
            
            </div>
            <!-- <div class="col-3"> -->
            <div class="task-2">
              <a href="development.html">
              <img src="images/Business man 01.jpg" alt="icon1" />
              </a>
              <h3>Employment
              </h3>
             
            </div>
            <!-- </div> -->
            <!-- <div class="col-4"> -->
            <div class="task-3">
              <a href="development.html">
              <img src="images/Jobs 04.jpg" alt="icon1" />
              </a>
              <h3>Internships</h3>
              
            </div>
            <!-- </div> -->
          </div>
        </div>
        </div>
    </div>
    <div class="container-fluid aboutus" id="about">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="h">School Students</h1>
                <p class="Big-text">This is the time when correct guidance & investment is required for a student in terms of time, enegry & money. 
                  93 % of indian students are aware of only 7 career options.............and some more data....................
                  Hence to cater this problem we have brought our Profile Building and Handholding Services to guide every Indian School/Unschool Student to utilize their best of capabilities after understanding their 1. Economic 2. Cultutral 3. Psychological 4. Cognitive & 5. Social background. We have customised Profile building service known as Handholding which will enable every student to discover the immense possibilty hidden in them with practical implementation in life.
                  Because India is the land of diverse culture and subjective counseling. We have lost our study methodology & practical necessities hnce ...........etc... content needs to be edited, added and rephrased accordingly........</p>
                <a class="btn btn-first" href="#">Get Started</a>
                <a class="btn btn-second" href="#">How its work?</a>
            </div>
            <div class="col-sm-6">
                <img src="images/23.png" alt="Mentoring" class="img-responsive">
            </div>
        </div>
    </div>
    <footer >
        <div class="row">
        <div class="col-sm-6">
        <div class="logo-div">
          <img src="images/b.png" alt="logo" />
        </div>
        </div>
        <div class="col-sm-6">
        <div class="footer-menu">
          <div class="footer-div-2">
            <h4>Products</h4>
            <a href="#"><li>pricing</li></a>
            <a href="#"><li>pricing</li></a>
          </div>
  
          <div class="footer-div-3">
            <h4>Abouts</h4>
            <a href="#"><li>pricing</li></a>
            <a href="#"><li>pricing</li></a>
          </div>
  
          <div class="footer-div-4">
            <h4>Blogs</h4>
            <a href="#"><li>pricing</li></a>
            <a href="#"><li>pricing</li></a>
          </div>
  
          <div class="footer-div-5">
            <h4>Get In Touch</h4>
            <a href="#"><li>Questions Or Feedback?</li></a>
            <a href="#"><li>We’ll love to help you</li></a>
          </div>
        </div>
        </div>
        </div>
        <div>
            <hr>
          <h4 style="color: grey; text-align: center;">All copyrights @@K3buddy&copy;</h4>
        </div>
    </footer>

</body>

